{{#if siteSettings.community_hub_enabled}}
<section class='field'>
  <div class="enable-communities-category">
    <label class="checkbox-label">
      {{input type="checkbox" checked=category.communities_category}}
      {{i18n 'communities_category.enable'}}
    </label>
  </div>
</section>
{{/if}}
